body{
    margin: 0;
    background-image: linear-gradient(rgba(185, 182, 182, 0.462),rgb(108, 108, 110),rgba(192, 188, 188, 0.445));
    height: 100vh;
    width: 100%;
    text-align: center;
   
}


.first-line{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn{
    height: 30vh;
    width: 20vw;
    border: 8px solid black;
    margin: 1rem;
    text-align: center;
    border-radius: 25px;
}

.red{
    background-color:   #d95980 ;
}

.yellow{
    background-color:#f99b45 ;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color:#819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: rgb(89, 255, 0);
}